.outer-container-rooms {
  color: #4b3931;
  position: relative;
  width: 100%;
  min-height: 100vh; /* Ensure it covers the full height of the viewport */
  display: flex; /* Enable Flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-image: url(../../assets/login-bg.jpg);
  background-size: cover;
  background-position: center;
}

.outer-container-rooms::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* White overlay with 50% opacity */
  z-index: 1;
}

.outer-container-rooms > * {
  position: relative;
  z-index: 2;
}

/* Room container */
.room-container {
  width: 88%;
  height: 42rem;
  max-width: 1400px;
  margin: 1rem auto 4rem;
  padding: 20px;
  background-color: #f4f4f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.room-container .username {
  font-family: "Sorts Mill Goudy", serif;
  font-weight: 800;
}

.room-container .username span {
  margin-left: -1px;
}

.message-input-container .username span {
  font-family: "Courier New", monospace;
  font-size: 1.3rem;
}

.message-input-container .username strong {
  font-size: 1.2rem;
}

/* Messages container */
.messages-container {
  height: 32rem;
  overflow-y: auto;
  margin-bottom: 20px;
  padding: 10px;
  background-color: white;
  border-radius: 8px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);

  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  position: relative;
}

/* Individual message styling */
.message {
  padding: 8px;
  margin-bottom: 12px;
  border-radius: 8px;
  background-color: #f4f4f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: "Courier New", monospace;
}

.message span,
.message b {
  font-family: "Courier New", monospace;
}

.timestamp {
  font-size: 0.85em;
  color: #607d8b;
  margin-left: 8px;
}

/* Input container */
.message-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter", sans-serif;
}

.message-input-container .username-on-input {
  margin: 0rem 0.5rem;
}

/* Input field */
.message-input-container input {
  width: 80%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #00796b;
  font-size: 1rem;
  font-family: "Courier New", monospace;
}

/* Send button */
.message-input-container button {
  width: 15%;
  padding: 10px;
  margin-left: 10px;
  background-color: #00796b;
  color: white !important;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.9rem;
  font-family: "Inter", sans-serif;
}

.message-input-container button:hover {
  background-color: #004d40;
}

/* Wrapper para input + select */
.message-input-wrapper {
  position: relative;
  width: 100%;
}

.suggestion-select {
  position: absolute;
  bottom: 100%; /* sobe para cima do input */
  left: 0;
  width: 100%;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  z-index: 10;
  margin-bottom: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  max-height: 200px;
  overflow-y: auto;
}

.color-option:hover {
  background: #f0f0f0;
}

/* Container do ícone */
.title-container {
  display: flex;
}

.info-icon-container {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  margin-top: 12px;
}

/* Ícone */
.info-icon {
  font-size: 1.4rem;
  color: #00796b;
  cursor: pointer;
}

/* Pop-up de informações */
.info-pop {
  position: absolute; /* em relação ao info-icon-container */
  top: 120%; /* logo abaixo do ícone */
  left: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px;
  width: 30rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 9999; /* garante que fique acima de tudo */
  font-family: "Inter", sans-serif;
}

.info-pop ul {
  margin-top: 10px;
  padding-left: 18px;
}

.info-pop li,
b {
  margin-bottom: 6px;
  font-family: "Inter", sans-serif;
}
